[submodule "vendor/atomjs"]
	path = vendor/atomjs
	url = git://github.com/theshock/atomjs.git
[submodule "vendor/qunit"]
	path = vendor/qunit
	url = git://github.com/jquery/qunit.git
[submodule "vendor/qunit-logging"]
	path = vendor/qunit-logging
	url = https://github.com/keithamus/qunit-logging
